<div class="login-div">
  <h4
    class="d-flex justify-content-center mb-4"
    style="font-family: Arial, Helvetica, sans-serif"
  >
    Sign In
  </h4>

  <form
    class="login-form"
    #loginForm="ngForm"
    (ngSubmit)="handleFormSubmit(loginForm)"
  >
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        name="email"
        ngModel
        required
        email
        #email="ngModel"
      />

      @if(email.invalid && email.touched){
        <div id="emailHelp" class="form-text text-danger">
            @if(email.errors?.['required']){
                <small>Email is required.</small>
            }
            @if(email.errors?.['email']){
                <small>Invalid email format !</small>
            }
        </div>
      }
      
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel
        required
        #password="ngModel"
      />

      @if(password.invalid && password.touched){
        <div id="passwordHelp" class="form-text text-danger">
            @if(password.errors?.['required']){
                <small>password required !</small>
            }
        </div>
        }
        
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
      Submit
    </button>
    <div class="d-flex justify-content-center mt-5">
      <p>Don't have an account?</p>
      <a class="nav-link" routerLink="/register">Register!</a>
    </div>
  </form>
</div>
